body{
    margin: 0;
    padding: 0;
    color: #2D3142;
    background: #2D3142;
}
h1{
    color: #0B3954
}
.jumbotron{
    margin-top: 5vh;
    background-color: #BFC0C0;
}
.jumbotron img {
    border-radius: 50%;
    width: 20vw;
    
    transition: all 2s;
}
.jumbotron img:hover {
    width: 30vw;
    box-shadow: 5px 10px 8px #5d5d5d;
}
.jum-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    padding-top: 5vh;
}
.project-container{
    padding: 0 5vw;
    width: 99vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0px 20px black inset;
    background: #8AB9B5
}
.card-container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    box-shadow: 5px 10px 8px #5d5d5d;
    
}
.btn-primary{
    background: none;
    border: #81C14B 1px solid;
    color: #81C14B
}
.btn-primary:hover{
    background: #81C14B;
    border: #81C14B 1px solid;
}

.links{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links img{
    height: 76px;
    width: 76px;
    transition: all 2s;
    
}

.links img:hover{
    width: 128px;
    height: 128px
}
.about-container{
    padding: 5vh 5vw;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.work-ex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.skill-lists{
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
   
}
.skill-lists ul{
    width: 20%;
    padding: 2%;
    list-style: none;
    text-align: center;
    background: #8AB9B5;
    box-shadow: 5px 10px 8px #5d5d5d;

   
}

.skill-lists ul strong{
    text-decoration: underline;
    
}

.side-card{
    padding: 20px;
    margin: 20px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background:#F3A096;
    color: #28262C;
    box-shadow: 5px 10px 8px #5d5d5d;
   
}
.side-card div {
    padding: 20px; 
}